* {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #750E02;
}
/*
a:visited {
	color: #4D129C;
}
*/
a:hover {
	color: #FB503B;
}

body {
	text-align: center;
}

#wrapper {
	font-family: 'Oxygen', sans-serif;
	width: 940px;
	text-align: left;
	margin: auto;
	line-height: 30px;
	color: #666;
}

h1,
h2 {
	color: #000;
}

header h1 {
	margin: 20px 0 10px 0;
	padding: 20px 0 20px 20px;
	border-bottom: 1px solid #f1f1f1;
}

nav {
	float: left;
	width: 250px;
	font-size: 14px;
}
nav li {
	margin: 0 0 0 20px;
}

section {
	margin-left: 250px;
	padding-left: 20px;
}

section h1 {
	margin: 15px 0;
}
section h2 {
	margin: 10px 0;
	font-size: 18px;
}

section ul {
	margin-left: 20px;
}
section li {
	margin-left: 20px;
	list-style: square;
}

section p,
section a {
	font-size: 14px;
	margin: 10px 0 10px 20px;
	line-height: 25px;
}

section p {
	color: #333;
}

section p a {
	margin:0;
}

section blockquote {
	background-color: #CAB1CB;
	margin-left: 20px;
}
blockquote p {
	margin-left: 5px;
}

section pre,
section blockquote {
	   -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}

pre.prettyprint { 
	display: block; 
	background-color: #333;
	border: none;
	padding: 15px;
	margin-left: 20px;
	line-height: 18px;
	
}
pre.prettyprint > * {
	font-family: Monaco, Consolas, "Lucida Console", monoespace;
	font-size: 12px;
}
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */
